apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../../../../../lib/tenant-template/cert-manager

patches:
  - target:
      group: helm.toolkit.fluxcd.io
      version: v2
      kind: HelmRelease
      name: cert-manager
      namespace: flux-system
    patch: |
      - op: replace
        path: /metadata/namespace
        value: vcluster-{{.Name}}
      - op: add
        path: /spec/kubeConfig
        value:
          secretRef:
            name: vc-vcluster-{{.Name}}-int
            key: config
  - target:
      group: source.toolkit.fluxcd.io
      version: v1
      kind: HelmRepository
      name: jetstack
      namespace: cert-manager
    patch: |
      - op: replace
        path: /metadata/namespace
        value: vcluster-{{.Name}}
  - target:
      group: helm.toolkit.fluxcd.io
      version: v2
      kind: HelmRelease
      name: cert-manager-webhook-gandi
      namespace: cert-manager
    patch: |
      - op: replace
        path: /metadata/namespace
        value: vcluster-{{.Name}}
      - op: add
        path: /spec/kubeConfig
        value:
          secretRef:
            name: vc-vcluster-{{.Name}}-int
            key: config
  - target:
      group: source.toolkit.fluxcd.io
      version: v1
      kind: HelmRepository
      name: cert-manager-webhook-gandi
      namespace: cert-manager
    patch: |
      - op: replace
        path: /metadata/namespace
        value: vcluster-{{.Name}}
