apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../../../../../lib/tenant-template/vault-webhook

patches:
  - target:
      group: helm.toolkit.fluxcd.io
      version: v2
      kind: HelmRelease
      name: vault-webhook
      namespace: flux-system
    patch: |
      - op: replace
        path: /metadata/namespace
        value: vcluster-{{.Name}}
      - op: add
        path: /spec/kubeConfig
        value:
          secretRef:
            name: vc-vcluster-{{.Name}}-int
            key: config
