apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: vault-webhook-{{.Name}}
  namespace: vcluster-{{.Name}}
spec:
  interval: 5m
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  path: ./clusters/{{.Env}}/vclusters/{{.Name}}/tenant/vault-webhook
  prune: true
  timeout: 5m
