apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../../../../../lib/tenant-template/flux-bootstrap
patches:
  - target:
      kind: Pod
      name: flux-bootstrap
    patch: |-
      - op: replace
        path: /metadata/namespace
        value: vcluster-{{.Name}}
      - op: replace
        path: /spec/containers/0/command/2
        value: |
          set -e

          echo "▶ Bootstrapping Flux on vCluster (internal API)"
          flux bootstrap git \
            --url={{.FluxCDRepoURL}} \
            --branch={{.FluxCDBranch}} \
            --path={{.FluxCDPath}} \
            --private-key-file=/ssh/id_ed25519 \
            --components-extra=image-reflector-controller,image-automation-controller \
            --kubeconfig=/kubeconfig/config \
            --silent

          echo "✔ Flux bootstrap completed"
      - op: replace
        path: /spec/volumes/0/secret/secretName
        value: vc-vcluster-{{.Name}}-int
